.formContainer {
  gap: 0.3rem;
}
.spacingContainer {
  gap: 0.25rem;
  grid-template-columns: 1fr 25%;
  grid-auto-rows: 1fr;
  border-radius: 0.5rem;
}
.pickDateContainer {
  display: flex;
  align-items: center;
  border: 2px solid oklch(87% 0 0);
  padding: 0.4rem 0.6rem;
  justify-content: space-between;
  border-radius: inherit;
  font-weight: 600;
  font-size: 0.85rem;
}
.img {
  max-width: 100%;
  display: block;
  width: 24px;
  height: 24px;
}
.btnSubmit {
  padding: 0.75rem 0;
  background-color: oklch(48.8% 0.243 264.376);
  color: oklch(98.5% 0 0);
  font-weight: 600;
  border-radius: inherit;
  cursor: pointer;
  border: none;
}

.input {
  border: none;
  height: 100%;
  padding: 0.3rem 0.5rem;
  border-radius: inherit;
  border: 2px solid oklch(14.5% 0 0);
}

.input:focus-visible {
  outline: 2px solid oklch(58.8% 0.158 241.966);
}
.formTitleP {
  font-size: 0.833rem;
  color: oklch(37.1% 0 0);
}
@media (max-width: 800px) {
  .spacingContainer {
    grid-template-columns: 1fr;
    gap: 0.65rem;
  }
  .btnSubmit {
    padding: 0.75rem 0;
  }
}
