.rightDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightWrapper {
  margin: 0 auto;
  width: 90%;
  display: grid;
  gap: 1.5rem;
}

@media (max-height: 640px) {
  .rightDisplay {
    padding: 1.5rem 0;
  }
}
