.grid {
  display: grid;
  grid-template-columns: 60% 1fr;
  height: 100vh;
  font-family: "Manrope", sans-serif;
  max-width: 2000px;
}
.rightDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightWrapper {
  margin: 0 auto;
  width: 90%;
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 2000px) {
  .grid {
    margin: 0 auto;
    width: 90%;
  }
}
